@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  font-family: "Bungee", Helvetica, sans-serif;
  background-color: rgb(18, 18, 19);
}
.game-row {
  display: flex;
  justify-content: center;
}
p, .react-icon {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.letter-box {
  width: 50px;
  height: 53px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  border-radius: 10% 10% 10% 10%;
}
.empty-letter {
  background-color: rgb(58, 58, 60);
}
.guessed-letter {
  background-color: rgb(83, 141, 78);
}
.half-letter {
  background-color: rgb(181, 159, 59);
}

.letter-box {
  transition: transform 0.5s linear, background-color 0.5s ease-in-out, width 0.5s linear;
  transform-style: preserve-3d;
}

.letter-flip {
  transform: rotateX(360deg);
}

.letter {
  backface-visibility: hidden;
}

.game-state {
  font-family: cursive;
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
  font-style:italic;
}

.key-row {
  display: flex;
  justify-content: center;
}
.key-box {
  background-color: rgb(92, 92, 92);
  min-width: 15px;
  max-width: 40px;
  height: 53px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  border-radius: 10% 10% 10% 10%;
}
.key-box > p {
  padding: 5px;
}
.longer {
  width: 40px;
}
.keyboard-grid {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  z-index: 999;
  margin-top: 10px;
  margin-bottom: 20px;
}